<!DOCTYPE html>
<html lang="en">

<head>
  <title>House Rental Management System</title>
  <meta charset="utf-8">
  <link rel="stylesheet"href="table.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    table{
    width:100%;
    color: black;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    border-color: black;
    border-style: solid;
  }

td{
  padding-left: 2px;
  padding-right: 2px;
}
  </style>

</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">House Rental Management System</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="home.php">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Houses <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="houses.php">Houses</a></li>
            <li><a href="rating.php">Rating</a></li>
          </ul>
        </li>

        <li><a href="owner.php">Owners</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tenants<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="tenant.php">Tenants</a></li>
            <li><a href="members.php">Members</a></li>
          </ul></li>
        <li><a href="booking.php">Booking</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="#"><span class="glyphicon glyphicon-user"></span>Hi <%=  %></a>
         </li>
        <li><a href="index.html"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
 
  <div class="container">
    <br>
    <table border="1" id="customers">
      <tr>
        <th>S NO.</th>
        <th>Owner Name</th>
        <th>No of rooms</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Description</th>
        <th>Rate for rent</th>
        <th>Pics of the house</th>
      </tr>
      <% for(var i=0; i<result.length; i++){ %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <%= result[i].owner_name %>
          </td>
          <td>
            <%= result[i].no_of_rooms %>
          </td>
          <td>
            <%= result[i].address %>
          </td>
          <td>
            <%= result[i].city %>
          </td>
          <td>
            <%= result[i].state %>
          </td>
          <td>
            <%= result[i].country %>
          </td>
          <td>
            <%= result[i].description %>
          </td>
          <td>
            <%= result[i].rate %>
          </td>
          <td><img src=`${result.image}` /></td>
        </tr>
        <% } %>
    </table>
  </div>
</body>

</html>