<!DOCTYPE html>
<html lang="en">
<head>
  <title>House Rental Management System</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/styles/table.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

  <%- include("./nav") %>
  
<div class="container">
<a href="http://127.0.0.1:5500/static/dobooking.html" class='btn btn-primary'>Book House</a>
<br><br>
  <table border="1" id="customers">
    <tr>
      <th>Tenant ID</th>
      <th>House ID</th>
      <th>Booking Date</th>
      <th>Period</th>
      <th>Price</th>
      <th>Agreement</th>
    </tr>
    <% for(var i=0; i<result.length; i++){ %>
      <tr>
        <td>
          <%= i+1 %>
        </td>
        <td>
          <%= result[i].tenant_id %>
        </td>
        <td>
          <%= result[i].house_id %>
        </td>
        <td>
          <%= result[i].booking_date %>
        </td>
        <td>
          <%= result[i].period %>
        </td>
        <td>
          <%= result[i].price %>
        </td>
        <td>
          <%= result[i].agreement %>
        </td>
      </tr>
      <% } %>
  </table>
</div>
</body>
</html>
