<div class="container">
  <br>
  <table border="1" id="customers">
    <tr>
      <th>S NO.</th>
      <th>Owner Name</th>
      <th>No of rooms</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Description</th>
      <th>Rate for rent</th>
      <th>Pics of the house</th>
    </tr>
    <% for(var i=0; i<result.length; i++){ %>
      <tr>
        <td>
          <%= i %>
        </td>
        <td>
          <%= result[i].owner_name %>
        </td>
        <td>
          <%= result[i].no_of_rooms %>
        </td>
        <td>
          <%= result[i].address %>
        </td>
        <td>
          <%= result[i].city %>
        </td>
        <td>
          <%= result[i].state %>
        </td>
        <td>
          <%= result[i].country %>
        </td>
        <td>
          <%= result[i].description %>
        </td>
        <td>
          <%= result[i].rate %>
        </td>
        <td><img src=`${result.image}` /></td>
      </tr>
      <% } %>
  </table>
</div>